.um-result-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  &__button {
    box-sizing: border-box;
    width: max-content;
    min-width: 84px;
    height: 36px;
    margin-left: 7px;

    &:first-child {
      margin-left: 0;
    }

    &-cancel {}

    &-save {}
  }
}