.um-button {
  width: 100%;
  background: #4c8bf7;
  border: 1px solid #4077d6;
  max-height: 38px;
  padding: 10px;
  border-radius: 3px;
  vertical-align: middle;
  outline: 0;
  z-index: 1;
  white-space: nowrap;
  cursor: pointer;
  transition: all .1s ease-in-out;
  user-select: none;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #4d85e6;
  }

  &:active {
    background: #4d85e6;
    transform: translateY(1px);
  }
}