.usi-mortgage--leadscard--settings-view {
  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__brokers {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-top: 24px;
  }

  &__broker {
    width: max-content;
  }

  &__message {
    margin-top: 24px;
  }
}